*{
    padding: 0;
    margin: 0px;
    /* configuramos el margen de todos los elementos en 0 pixeles
    para evitar espacios en blanco o líneas vacías*/
   }

   main{
       background-color: whitesmoke;
   }

body{
    text-align: center;
    /* centro todo los textos de la caja principal */    
}

nav ul li{
    display: inline;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: rgb(32, 32, 32);
}

nav ul li:hover{
    background-color: tomato;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#071B33;
    border: 2px solid #999999;
    padding: 10px;
}
.menu__lista{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
.menu__img{
    width: 100px;
    height: 100px;
}

}
.menu__item{
    list-style: none;
}
.menu__item a{
    text-decoration: none;
    color:whitesmoke;
}

/* fondo section */
.fondo{
    background-image: url(../img/adrien-vajas-o3_3a_EyNnY-unsplash4.jpg);
    background-size: cover;
    /* background-size: cover, para que se adapte al contenido de la pantalla */
    background-position: center;
    width: 100%;
    height: 100vh;

    /* con lo siguiente ubico el texto en la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fondoQuienesSomos{
    background-image: url(../img/andhika-soreng-US06QF_sxu8-unsplash.jpg);
    background-size: cover;
    /* background-size: cover, para que se adapte al contenido de la pantalla */
    background-position: center;
    width: 100%;
    height: 100vh;

    /* con lo siguiente ubico el texto en la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#columna {
    float: left;
    width: 300px;
    margin: -550px 50px;
    padding: 20px;
    color: rgb(219, 51, 29);
    font-size: 25px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
    text-align: center;
    
   }
   
footer{
    clear: both;
    display: flex;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px 0px;
    grid-template-rows: 1fr 1fr 170px;
    grid-template-columns: 2fr none 1fr;
}
.footer__img{
    width: 50px;
    height: 50px;
}

label{
    font-size: 20px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(207, 115, 115);
}

h4{
    color:gold;
    
}

.contenedor{
    padding-top: 50px;
    overflow: hidden;
}
.contenedor__video{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 25%;

    float: right;
    margin: 00px 5px;
    padding: 10px;
    color: rgb(14, 13, 13);
    line-height: 50px;
    
}

#plantilla{
    display: grid;
    height: 100vh;
    grid-template-areas:
        " menu menu" /* 100px */
        " producto publicidad" /* 2fr */
        " servicios publicidad" /* 3fr */
        " footer footer"; /* 170px */
        /* 20%  auto 300px  */
    grid-template-rows: 2fr auto 3fr 170px;
    grid-template-columns: repeat(2, 3fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}  


#productos{
    display: grid;
    grid-area: productos;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
#productos__caja{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 25%;
    border-color: orange;
    border-style: solid;
    padding: 5px;
}
.productos__detalle{
    width: 100px;
    height: 30px;
    overflow: hidden;
    border-style: solid;
    border-radius: 25%;
    border-color: orange;
    padding: 25px;
    margin: 10%;
}
    
.menu{
    grid-area: menu;
    background-color: rgb(14, 13, 13);
    }
    
.border-items{
    border: 3px;
    border-color: orange;
}  

