@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Oxygen:wght@300&family=Rubik:ital@1&display=swap');
/* tragio fuente, es mejor importar y dejar en estilos */

*{
    padding: 0;
    margin: 0px;
    /* configuramos el margen de todos los elementos en 0 pixeles
    para evitar espacios en blanco o líneas vacías*/
   }

main{
       background-color: whitesmoke;
   }

body{
    text-align: center;
    /* centro todo los textos de la caja principal */    
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#071B33;
    padding: 10px;
    font-family: Oxygen;
}
.menu__lista{
    display: flex;
    justify-content: space-evenly;
}
.menu__lista__item{
    display: inline;
    padding:10px 10px;
    border-radius: 15px;
    background-color: black;
}

.menu__lista__item:hover{
    background-color: tomato;
}

.menu__img{
    width: 100px;
    height: 100px;
}

.menu__item{
    list-style: none;
}
.menu__lista__item a{
    text-decoration: none;
    color:whitesmoke;
}

/* fondo section */
.fondo{
    background-image: url(../img/adrien-vajas-o3_3a_EyNnY-unsplash4.jpg);
    background-size: cover;
    /* background-size: cover, para que se adapte al contenido de la pantalla */
    background-position: center;
    width: 100%;
    height: 100vh;

    /* con lo siguiente ubico el texto en la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fondoQuienesSomos{
    background-image: url(../img/andhika-soreng-US06QF_sxu8-unsplash.jpg);
    background-size: cover;
    /* background-size: cover, para que se adapte al contenido de la pantalla */
    background-position: center;
    width: 100%;
    height: 100vh;

    /* con lo siguiente ubico el texto en la pantalla */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#columna {
    float: left;
    width: 300px;
    margin: -550px 50px;
    padding: 20px;
    color: rgb(219, 51, 29);
    font-size: 25px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 50px;
    text-align: center;
    
   }
   
footer{
    clear: both;
    display: flex;
    grid-area: footer;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px 0px;
    grid-template-rows: 1fr 1fr 170px;
    grid-template-columns: 2fr none 1fr;
}
.footer__img{
    width: 50px;
    height: 50px;
}

label{
    font-size: 20px;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(207, 115, 115);
}

h4{
    color:rgb(7, 7, 7);
    font-family: Comforter Brush;
    font-size: 30px;
    line-height: 150%;
    text-shadow: white 0 3px;
}

.contenedor{
    padding-top: 50px;
    overflow: hidden;
}
.contenedor__video{
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10%;

    float: right;
    margin: 20px 5px;
    padding: 0px;
    color: rgb(14, 13, 13);
    border-style: double;
    line-height: 50px;
    
}

#plantilla{
    display: grid;
    height: 100vh;
    grid-template-areas:
        " menu menu" /* 100px */
        " producto publicidad" /* 2fr */
        " servicios publicidad" /* 3fr */
        " footer footer"; /* 170px */
        /* 20%  auto 300px  */
    grid-template-rows: 2fr auto 3fr 170px;
    grid-template-columns: auto 200px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}  


#productos{
    grid-area: producto;
    
}
#productos__contenedor{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll; /*barra lateral de scroll*/
    padding: 15px;
}
.productos__contenedor__card{
    width: 250px;
    height: 250px;
    overflow: scroll;
    border-radius: 15%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
}

.publicidad{
    grid-area: publicidad;
    background-color: grey;
    background-image: url(https://images.unsplash.com/photo-1531502774286-5e4e8e94879f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YmlrZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
}
    
.menu{
    grid-area: menu;
    background-color: rgb(14, 13, 13);
    }
    
.border-items{
    border: 3px;
    border-color: orange;
}  

